<%= erb :_errors, locals: {errors: @errors} %>

<div>
  <h1>Register your account</h1>
  <form action="/users" method="post">

    <label class="white-text" for="username">Username:</label>
    <input type="text" name="user[username]" />
    <br>

    <label class="white-text" for="email">Email:</label>
    <input type="text" name="user[email]"/>
    <br>

    <label class="white-text" for="password">Password:</label>
    <input type="text" name="user[password]" />
    <br>

    <input type="submit" value="Register">
  </form>
</div>
