<form action="" method="get">
  <label for="city_name">City Name</label>
  <input type="text" name="city_name">
  <p>
    <input type="checkbox" id="metric_checkbox" value="metric">
    <label for="metric_checkbox">Metric</label>
  </p>
  <p>
    <input type="checkbox" id="imperial_checkbox" value="imperial">
    <label for="imperial_checkbox">Imperial</label>
  </p>
  <input type="checkbox" id="imperial_checkbox" value="imperial">
  <input type="submit" value="submit">
</form>